@charset "UTF-8";
/*Manifiesto scss*/
/*Abstract*/
/*Peso de fuente*/
/*Tamaños de fuente*/
/*Vendors*/
/*Base*/
/*Resets*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Tipografia*/
.nav__logo {
  font-size: 24px;
  font-weight: 700;
}

h1 {
  font-size: 26px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 0;
}

h3 {
  font-size: 20px;
  font-weight: 700;
}

.contenedor {
  width: 100%;
  font-family: monospace;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

/*Layout*/
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.col-xs-12 {
  grid-column: span 12;
}

.col-xs-11 {
  grid-column: span 11;
}

.col-xs-10 {
  grid-column: span 10;
}

.col-xs-9 {
  grid-column: span 9;
}

.col-xs-8 {
  grid-column: span 8;
}

.col-xs-7 {
  grid-column: span 7;
}

.col-xs-6 {
  grid-column: span 6;
}

.col-xs-5 {
  grid-column: span 5;
}

.col-xs-4 {
  grid-column: span 4;
}

.col-xs-3 {
  grid-column: span 3;
}

.col-xs-2 {
  grid-column: span 2;
}

.col-xs-1 {
  grid-column: span 1;
}

@media (min-width: 576px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media (min-width: 768px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media (min-width: 992px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
@media (min-width: 1200px) {
  .col-xl-12 {
    grid-column: span 12;
  }

  .col-xl-11 {
    grid-column: span 11;
  }

  .col-xl-10 {
    grid-column: span 10;
  }

  .col-xl-9 {
    grid-column: span 9;
  }

  .col-xl-8 {
    grid-column: span 8;
  }

  .col-xl-7 {
    grid-column: span 7;
  }

  .col-xl-6 {
    grid-column: span 6;
  }

  .col-xl-5 {
    grid-column: span 5;
  }

  .col-xl-4 {
    grid-column: span 4;
  }

  .col-xl-3 {
    grid-column: span 3;
  }

  .col-xl-2 {
    grid-column: span 2;
  }

  .col-xl-1 {
    grid-column: span 1;
  }
}
/*Header*/
#Header {
  height: 15vh;
  width: 100%;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  width: 100%;
  height: 15vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .nav__list ul {
  display: flex;
  list-style: none;
  align-items: center;
}
.nav .nav__list ul li {
  padding: 0 10px;
}
.nav .nav__list ul a {
  text-decoration: none;
}

@media (max-width: 576px) {
  .nav .nav__list ul {
    padding-left: 0;
  }
  .nav .nav__list ul li {
    padding: 0 5px;
  }
  .nav .nav__list ul li:first-child {
    display: none;
  }
}
/*Aside*/
#Aside {
  display: flex;
  justify-content: center;
}

.main__right-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 30px;
}

.left__first {
  border-bottom: 1px solid gray;
}

.left__second {
  border-bottom: 1px solid gray;
}

.left__second-list {
  list-style: none;
  padding: 5px;
  text-align: center;
}

.img-fluid {
  width: 100%;
}

/*Main*/
#Main {
  width: 100%;
}

.main__left-container {
  column-gap: 2rem;
  padding: 30px;
}

.last-news {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.last-news__item {
  height: auto;
}

@media (max-width: 768px) {
  .main__right {
    display: none;
  }

  .main__left-container {
    column-gap: 1rem;
    padding: 5px;
  }

  .last-news__item-image {
    height: 200px;
    width: 100%;
    overflow: hidden;
  }

  .img-fluid {
    width: 100%;
    height: auto;
  }
}
/*Section*/
#Newsletter {
  width: 100%;
  padding: 3.5rem;
  background-color: #f2f4f5;
  text-align: center;
  padding-bottom: 30px;
}

.main__bottom {
  display: grid;
  grid-template-columns: 1fr;
}

article {
  width: 100%;
}

.container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid red;
}

.item {
  background-color: green;
}

@media (max-width: 768px) {
  #Newsletter {
    padding: 1rem;
    padding-bottom: 0.8rem;
  }
}
/*Footer*/
#Footer {
  width: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.footer__text {
  margin-bottom: 0;
}

/*Components*/
/*Button*/
.newsletter__button {
  background-color: coral;
  color: white;
  border: 0;
  padding: 5px 10px;
}

/*Inputs*/
.input-menu {
  border-radius: 30px;
}

.newsletter__input {
  border: 0;
  height: 23px;
}

@media (max-width: 576px) {
  .input-menu {
    max-width: 100px;
  }
}
/*Tags*/
.tag {
  background-color: steelblue;
  display: inline-block;
  margin: 3px;
  padding: 3px;
}
.tag .tag__link {
  color: white;
  text-decoration: none;
}

/*Pages*/
/*Themes*/

/*# sourceMappingURL=main.css.map */
